/* You can add global styles to this file, and also import other style files */
html,
body,
#root {
  height: 100%;
}


.reward {
  &-actions {
    width: 150px;
  }

  &-btn-circle {
    &.btn {
      width: 30px;
      height: 30px;
      padding: 6px 0px;
      border-radius: 15px;
      text-align: center;
      font-size: 12px;
      line-height: 1.42857;
    }
  }

  &-animation {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    animation-name: arctop, arcleft;
    animation-duration: 0.5s, 0.5s;
    animation-timing-function: linear, linear;
    animation-iteration-count: 1;
    position: absolute;
    animation-direction: reverse;
    margin-top: -70px;
    animation-fill-mode: forwards;
  }

  .progress {
    background-color: transparent;
  }

  td {
    &:first-child {
      width: 17%;
    }

    &:nth-child(2) {
      position: relative;
    }
  }
}

@keyframes arctop {
  0% {
    top: 75px;
    animation-timing-function: ease-out;
    transition: visibility 0s, opacity 0.5s linear;
  }
  50% {
    top: 0px;
    animation-timing-function: ease-in;
  }
  100% {
    top: 75px;
  }
}

@keyframes arcleft {
  0% {
    left: 0px;
    visibility: hidden;
  }
  100% {
    left: calc(100% + 45px);
   
  }
}

fieldset {
  border: 1px solid #dee2e6 !important;
  padding: 2px !important;
  margin: 3px 0 !important;
  border-radius: 4px;
  legend {
    float: none !important;
    padding: inherit !important;
    font-size: 10px;
    margin-bottom: 0px;
    width: auto !important;
  }
}